<h2>Sigme <small>クラウド デジタル サイネージ</small></h2>
<p>Sigme クラウド デジタル サイネージ - <a target="_blank"  href="https://www.sigme.net" title="Sigme Website">www.sigme.net</a>. バージョン {{ version }}<br />
    Copyright &copy 2006-2022 Xibo Signage Ltd and tboe
    <a target="_blank" href="https://github.com/orgs/xibosignage/people" title="Xibo Developers">Xibo Developers</a>.<br />
    Portion Copyright &copy 2022 Sigme Project</p>

<h2>ライセンス</h2>
<p>Sigme はフリーソフトウェアで、Xiboのライセンスポリシーを継承しています。フリーソフトウェア財団によって発行された GNU Affero General Public License のバージョン 3 またはそれ以降のバージョンが適用され、再配布や変更をすることができます。</p>

<p>SigmeはXiboのライセンスを継承しており、有用であることを願って配布されていますが、市場 性や特定目的への適合性に関する暗黙の保証もなく、無保証であ ります。 以下を参照してください。　詳細はGNU Affero General Public Licenseをご覧ください。</p>

<p>SigmeもしくはXiboと一緒にGNU Affero General Public Licenseのコピーも受け取っているはずです。もし、ご覧になっていなければ、以下を参照してください。<a target="_blank" href="http://opensource.org/licenses/AGPL-3.0">opensource.org/licenses/AGPL-3.0</a>. </p>

<p>更なるXiboのライセンスに関する情報は<a href="https://xibo.org.uk/eula">こちら（英語）</a>. 疑問がある場合は、専門の法律家の助言を得てください。</p>

<h2>ソースコード</h2>
<p>Sigmeソフトウェアのエンドユーザーであるお客様は、ソースコードをダウンロードし、閲覧する権利を有します。
<a target="_blank"  id="source-link" href="{{ sourceUrl }}">GitHub</a>からアクセスできます。
サービスプロバイダとして、あなたは<strong>必ず</strong>、エンドユーザにソースコード開示の通知とアクセスを提供しなければなりません。</p>

<h2>サードパーティライセンス</h2>
<p>Sigmeは、サードパーティのライブラリやツールを使用しています。これらは、AGPLv3と互換性のあるライセンスでソフトウェアとともに提供されています。サードパーティライブラリのライセンスはすべて サードパーティライブラリのすべてのライセンスは、そのライブラリに含まれており、コードに帰属しています。</p>

<p>Emoji artwork である <a href="https://www.emojione.com/">EmojiOne</a> は、<a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC-BY 4.0</a>により、ライセンスされています。</p>

<h3>フォント</h3>
<p>Sigmeに含まれている<a href="http://scripts.sil.org/OFL_web">OFL</a>iふフォントは、 <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC-0</a>でライセンスされています。</p>

<p>
<ul>
    <li><strong>Aileron Regular (CC-0)</strong>: <a href="https://fontlibrary.org/en/font/aileron#Aileron-Regular">https://fontlibrary.org/en/font/aileron#Aileron-Regular</a>.</li>
    <li><strong>Aileron Heavy (CC-0)</strong>: <a href="https://fontlibrary.org/en/font/aileron#Aileron-Heavy">https://fontlibrary.org/en/font/aileron#Aileron-Heavy</a>.</li>
    <li><strong>Dancing Script Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/dancing">https://fontlibrary.org/en/font/dancing</a>.</li>
    <li><strong>Linear Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/linear-regular#Linear-Regular">https://fontlibrary.org/en/font/linear-regular#Linear-Regular</a>.</li>
    <li><strong>Railway Regular (OFL)</strong>: <a href="https://fontlibrary.org/en/font/railway-sans#Railway-Regular">https://fontlibrary.org/en/font/railway-sans#Railway-Regular</a>.</li>
</ul>
</p>

<h2>天気予報</h2>
<p><a href="https://openweathermap.org/">OpenWeather</a>により提供されている天気データは、<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> と、<a href="http://opendatacommons.org/licenses/odbl/">oDbl</a>のライセンスに基づいて提供されています。</p>

<h2>商用展開</h2>
<p>Sigmeは<a target="_blank"  href="https://www.sigme.net" title="Sigme Project">Sigme Project</a>により、サポートおよびメンテナンスされています。</p>
<p>Xibo<a target="_blank"  href="https://www.xibo.org.uk" title="Xibo Commercial Sponsor">Xibo Signage Ltd</a>により、サポートおよびメンテナンスされています。</p>
